.header-details{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.menu-select-header{
  cursor: pointer;
  color: #6E8E25;
}

.last-div{
  position: absolute;
  right: 10px;
  margin-top: 5px;
}

.select-edit{
  padding: 6px;
  box-sizing: border-box;
  font-size: 12px;
  cursor: pointer;
  color: #405216;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.select-edit span{
  margin-left: 10px;
}

.select-edit:hover{
  background-color: #e4e8db;
  color: #565851;
}

.mat-menu-panel {
  padding: 5px !important;
}

.icon-div{
  font-size: 14px;
  margin-right: 10px;
}

.col-action{
  width: 10px;
  text-align: center;
}

.trTable{
  cursor: pointer;
}